name: Build, push, and deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and push Docker container
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0 # Fetch all history for what-changed action
      - name: Determine what to do
        id: changed-files
        uses: nais/what-changed@bc3dad0463b36ad29044134bba5898f0af73c34c
        with:
          files: .nais.yaml
      - name: Push docker image to GAR
        if: steps.changed-files.outputs.changed != 'only-inputs'
        uses: nais/docker-build-push@87f920b0411b987d9a1fd4113aa384e1e3b54f2c
        id: docker-build-push
        with:
          team: leesah-quiz
      - uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais.yaml
          WORKLOAD_IMAGE: ${{ steps.docker-build-push.outputs.image }}
